.polygon{
    clip-path: polygon(0 0, 50% 0, 40% 100%, 0% 100%);
    background-color: #212129;
    height: 500px;
    position: relative;

}
.sect{
    position: absolute;
    margin: 2% 2%;
}
.new{
    background-color: #FFD600;
    color: #fff;
    font-weight: 500;
    display:inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    top: 15px;
}
h1{
    color: #fff;
    font-size: 40px;
}
.polygon img{
    margin-top: 150px;
   
}
@media only screen and (max-width: 882px) {
    
    .polygon{
        clip-path: polygon(0 0, 60% 0, 30% 100%, 0% 100%);
       
    
    }
    .new{
        top: 20px;
    }
    h1{
        color: #fff;
        font-size: 20px;
        margin-top: 70px;
    }
    .polygon img{
        margin-top: 400px;
       
    }
    
}